    <form class="card">
        <img src = "../assets/images/admin_logo.png" class="rounded-circle mx-auto d-block user-logo">
        <div class="form-group">
          <label>Name</label>
          <input type="text" 
          class="form-control" 
          placeholder="Your name">
        </div>
        <div class="form-group">
          <label>Email</label>
          <input type="text" 
          class="form-control" 
          placeholder="Your email">
        </div>
        <div class="form-group">
            <label>Mobile</label>
            <input type="text" 
            class="form-control" 
            placeholder="Your mobile">
          </div>
        <button type="submit" class="btn btn-primary btn-block">Submit</button>
    </form>


