/* You can add global styles to this file, and also import other style files */
.card{
    background: #fff;
    border: 1px solid #f3f7f7;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    padding: 10px;
}