<div class="card">
  <table class="table">
    <thead class="table-primary">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Email</th>
        <th>Mobile</th>
        <th scope="col">Edit</th>
        <th scope="col">Delete</th>
      </tr>
    </thead>
    <tbody>
        <tr>
            <td scope="col">1</td>
            <td scope="col">Kundan Kumar</td>
            <td scope="col">kun123658@gmail.com</td>
            <td scope="col">9955074864</td>
            <td scope="col"><button class="btn btn-warning">Edit <i class="fa fa-pencil"></i></button></td>
            <td scope="col"><button class="btn btn-danger">Delete <i class="fa fa-trash"></i></button></td>
          </tr>
          <tr>
            <td scope="col">1</td>
            <td scope="col">Kundan Kumar</td>
            <td scope="col">kun123658@gmail.com</td>
            <td scope="col">9955074864</td>
            <td scope="col"><button class="btn btn-warning">Edit <i class="fa fa-pencil"></i></button></td>
            <td scope="col"><button class="btn btn-danger">Delete <i class="fa fa-trash"></i></button></td>
          </tr>
    </tbody>
  </table>
</div>
